body {
  margin: 1em auto;
  max-width: 950px; 
  /*max-width: none; */
  padding: 0 .62em;
  font-size: 1.2em/1.62 sans-serif;
  color: #000;
  background-color: #fff;
}

h1, h2, h3 {
  line-height: 1.2
}
@media print{
  body{
    max-width:none
  }
}
div.gallery {
  margin: .2em;
  border: 2px solid #ccc;
  float: left;
  /* 40em / 3 - .2 * 3 */
  /* 40em / 2 - .2 * 2 */
  width: 19.5em;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 2px 2px 7px;
  text-align: center;
  vertical-align: middle;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-size: .8em;
  /*table-layout: fixed;*/
  max-width: none;
}

tr, th, td {
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}

tr:nth-child(odd) {background-color: #f5f5f5;}
tr:hover {background-color: #D9EDFD;}
th {
  border-bottom: 1px solid;
  background-color: #fff;
}
